.headerheader{
    display: block;
    height: 405px;
    background: url("https://sun9-46.userapi.com/c840122/v840122825/33edd/ydDSJfmVwY4.jpg");
}


.body{
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612471838_141-p-fon-dlya-prezentatsii-serogo-tsveta-168.jpg");
}